

/*background-image {

    background-position: center, center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
} */

.body {
   /* background-image: url('../img/frivold.jpg');*/
    background: #B363EB;
    background: -webkit-radial-gradient(center, #B363EB, #AD3D49);
    background: -moz-radial-gradient(center, #B363EB, #AD3D49);
    background: radial-gradient(ellipse at center, #B363EB, #AD3D49);
    background-position: center, center;
    background-repeat: no-repeat;
    background-size: contain;
    background-attachment: fixed;
    
}

/* Navbar container */
.navbar {
    overflow: hidden;
    background-color: #333;
    font-family: Arial;
  }
  
  /* Links inside the navbar */
  .navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* The dropdown container */
  .dropdown {
    float: left;
    overflow: hidden;
  }
  
  /* Dropdown button */
  .dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit; /* Important for vertical align on mobile phones */
    margin: 0; /* Important for vertical align on mobile phones */
  }

  /* Add a red background color to navbar links on hover */
  .navbar a:hover, .dropdown:hover .dropbtn {
    background-color: goldenrod;
  }
  
  /* Dropdown content (hidden by default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  /* Add a grey background color to dropdown links on hover */
  .dropdown-content a:hover {
    background-color: #ddd;
  }
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {
    display: block;
  }

  /*end of dropdown code pulled from w3 */

header {

    font-family: 'Montserrat', sans-serif;
    text-align: left;
}

h1 {
    font-family: 'Montserrat', sans-serif;
    color: whitesmoke;
    text-align: center;

}

.aboutBody {
    background: #B363EB;
    background: -webkit-radial-gradient(center, #B363EB, #AD3D49);
    background: -moz-radial-gradient(center, #B363EB, #AD3D49);
    background: radial-gradient(ellipse at center, #B363EB, #AD3D49);
    background-position: center, center;
    background-repeat: no-repeat;
    background-size: contain;
    background-attachment: fixed;
}

.mySchool {
    font-family: 'Montserrat', sans-serif;
    color: whitesmoke;
    display: flex;
    justify-content: center;
    align-content: flex-end;
}

.myWork {
    font-family: 'Montserrat', sans-serif;
    color: whitesmoke;
    display: flex;
    justify-content: center;

}

.whatIKnow {
    font-family: 'Montserrat', sans-serif;
    color: whitesmoke;
    display: flex;

}

.currentlyLearning {
    font-family: 'Montserrat', sans-serif;
    color: whitesmoke;
    display: flex;
}

.myBio {
    font-family: 'Montserrat', sans-serif;
    color: whitesmoke;
}

.myHobbies {
    font-family: 'Montserrat', sans-serif;
    color: whitesmoke;
}



.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
  }
