

/*background-image {

    background-position: center, center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
} */

.body {
   /* background-image: url('../img/frivold.jpg');*/
    background: #B363EB;
    background: -webkit-radial-gradient(center, #B363EB, #AD3D49);
    background: -moz-radial-gradient(center, #B363EB, #AD3D49);
    background: radial-gradient(ellipse at center, #B363EB, #AD3D49);
    background-position: center, center;
    background-repeat: no-repeat;
    background-size: contain;
    background-attachment: fixed;
    
}

header {

    font-family: 'Montserrat', sans-serif;
    text-align: left;
}

h1 {
    font-family: 'Montserrat', sans-serif;
    color: whitesmoke;
    text-align: center;

}

h2 {

}

h3 {

}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
  }